#sidebar{
	background: rgb(0, 0, 0);
	// position:fixed;
	display:flex;
	flex-direction:column;
	height:100vh;
	gap:5px;
	border:0px;
	border-right: 0.5px solid rgb(84, 84, 84);
	margin: 0.1px solid white;
	width:25%;
	min-width: 25%;
	padding-top: 5px;
	overflow: hidden;
	#tabs{
		fill:white;
		color:white;
		display:flex;
		gap:20px;
		font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;		
		font-size: 1.2rem;
		// padding-left: 10%;
		font-weight: 400;
		width:fit-content;
		box-sizing:border-box;
		padding-top:7px;
		padding-bottom:5px;
		padding-right:16px;
		padding-left:11px;
		transform:translateX(7vw); //hardcoded fuckit
		transition:0.191s ease;
		#svgs{
			width:26px;
			height:auto;
		}
		&:hover{
			background-color: rgba(128, 128, 128, 0.309);
			cursor:pointer;
			border-radius:24px;

		}
	}
	#postb{
		color: rgb(255, 255, 255);
		background-color:rgb(29,155,240);
		transform:translateX(7vw);
		display:flex;
		justify-content: center;
		width:50%;
		padding-inline:30px;
		padding:15px;
		font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;		
		font-weight: 500;
		font-size:1.1rem;
		border-radius: 24px;
        transition:0.4s ;

		&:hover{
			background-color:rgba(29, 156, 240, 0.833);
			cursor:pointer;

		}
	}
}

#allposts{
	height:100vh;
	overflow-y: scroll;
	scrollbar-width: thin;  // For Firefox
  -ms-overflow-style: none;  // For IE 11
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
  }
  &::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
  }
  padding-bottom:300px;
  box-sizing: border-box;
}
#nav{
    // position: absolute;
    top:0%;
    // transform: translateX(25.1vw);
    color:rgb(255, 255, 255);
    font-size: large;
    background-color: rgb(0, 0, 0);
    // padding-left:25% ;
    display: flex;
    width:45%;
    // gap:250px;
    // justify-content: center;
    // align-items: center;
    // height:8vh;
    // border-right: 0.5px solid rgb(84, 84, 84);
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;		
	font-size: 15px;
    text-wrap: nowrap;
    font-weight: 600;
    #navelements{
        padding:16px;
        padding-inline:10vw;
        // border-right:0.5px solid rgb(84, 84, 84) ;
        border-bottom: 0.5px solid rgb(84, 84, 84);
        cursor:pointer;
        transition:0.29s;
		// z-index: 3;
		background-color: rgba(0, 0, 0, 0.073);
		// backdrop-filter: blur(24px);
        &:hover{
            background-color: rgba(255, 255, 255, 0.073);
        }
    }


    
    
}

#postt{
	
	padding-left: 10%;
	z-index: 2;
	background-color: rgb(0, 0, 0);
	// width:44vw;
	max-width:100%;
	height:fit-content;
	// transform: translate(25.1vw,0px);
	// white-space: normal;
	// overflow-wrap: break-word;
	border-bottom: 0.5px solid rgb(84, 84, 84) ;
	#title{
		color:white;
		gap:10px;
		display: flex;
		font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;		
		font-weight: 400;
		#username , #time{
			color:grey;
		}
	}
	#content{
		color:white;
		font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;		
		font-size: 20px;
		padding-top: 5px;
		// white-space: normal;
		// overflow-wrap: break-word;
	}
	#line{
		width:40vw;
		height:1px;
		background-color: rgb(84, 84, 84);
		// transform: translateX(10%);
		overflow: hidden;
	}
	#access{
		padding: 4px;
		display: flex;
		color:grey;
		font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;		
		// gap:5vw;
		font-size: 15px;
		transition:0.29s ease;
		justify-content: space-around;
		svg{
		padding-top: 3px;
		padding-inline: 3px;
		padding-bottom: 2px;
		fill: grey;
		width:20px;
		height: auto;
		transition:0.29s ease;
		}
		#com{
			display: flex;
			gap:2px;
			align-items: center;
			
			&:hover{
				cursor:pointer;
				svg{
					fill: rgba(29, 156, 240, 0.657);
					background-color:rgba(29, 156, 240, 0.249) ;
					border-radius: 50%;
					cursor:pointer;
				}
				color:rgba(29, 156, 240, 0.781);
			}

		}
		#rep{
			display: flex;
			gap:2px;
			align-items: center;
			
			&:hover{
				cursor:pointer;
				svg{
					fill: rgba(41, 246, 133, 0.657);
					background-color:rgba(41, 246, 133, 0.183);
					border-radius: 50%;
					cursor:pointer;
				}
				color:rgba(41, 246, 133, 0.657);
			}

		}
		#like{
			display: flex;
			gap:2px;
			align-items: center;
			
			&:hover{
				cursor:pointer;
				svg{
					fill: rgba(240, 29, 29, 0.657);
					background-color:rgba(240, 29, 29, 0.292);
					border-radius: 50%;
					cursor:pointer;
				}
				color:rgba(240, 29, 29, 0.657);
			}

		}
		#poll{
			display: flex;
			gap:2px;
			align-items: center;
			
			&:hover{
				cursor:pointer;
				svg{
					fill: rgba(29, 156, 240, 0.657);
					background-color:rgba(29, 156, 240, 0.249) ;
					border-radius: 50%;
					cursor:pointer;
				}
				color:rgba(29, 156, 240, 0.781);
			}

		}
		#share{
			display: flex;
			gap:2px;
			align-items: center;
			
			&:hover{
				cursor:pointer;
				svg{
					fill: rgba(29, 156, 240, 0.657);
					background-color:rgba(29, 156, 240, 0.249) ;
					border-radius: 50%;
					cursor:pointer;
				}
				color:rgba(29, 156, 240, 0.781);
			}

		}
		
	}
}
 #mypost{
	z-index: 2;
		background-color: rgb(0, 0, 0);
		color:white;
		// width:100%;
		padding-bottom: 20px;
		height:fit-content;
		// transform: translate(25.1vw,54px);
		white-space: normal;
		overflow-wrap: break-word;
		border-bottom: 0.5px solid rgb(84, 84, 84);
		font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;		
		#tweetinputt{
			padding-left: 50px;
		}
		#tweetinput{
			font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;		
			font-size: 20px;
			width:36vw;
			min-height:70px;
			padding-top:10px;
			padding-left: 27px;
			white-space: normal;
			color:white;
			background-color: rgb(0, 0, 0);
			border:none;
			overflow-wrap: break-word;
			overflow: hidden;
			resize: none;
			&:focus{
				outline: none;
			}

		}
		#line{
			width:40vw;
			height:1px;
			background-color: rgb(84, 84, 84);
			transform: translateX(10%);
			overflow: hidden;
		}
		#access{
			display: flex;
			gap:10px;
			height:36px;
			width:39vw;
			transform:translate(60px,14px);
			background-color: rgb(0, 0, 0);
			svg{
				width: 20px;
				padding-inline:0.5px;
				padding:7px;
				height: auto;
				fill: rgb(29,155,240);
				transition: 0.29s ease;
				&:hover{
					background-color: rgba(29, 156, 240, 0.366);
					border-radius: 50%;
					cursor:pointer;
				}
			}
			#postbb{
				color: rgba(255, 255, 255, 0.46);
				background-color:rgba(29, 156, 240, 0.508);
				// transform:translateX(17vw);
				margin-left: auto;
				display:flex;
				justify-content: center;
				width:fit-content;
				padding-inline:30px;
				align-items: center;
				// padding:15px;
				font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;		
				font-weight: 500;
				font-size:1.1rem;
				border-radius: 24px;
				transition:0.4s ;

				&:hover{
					background-color:rgba(29, 156, 240);
					cursor:pointer;
					color: white;

				}
				
			}

		}

 }

#rightside{
    background-color: rgb(0, 0, 0);
    // position:static;
    // right:1%;
    color:white;
    // width: 30%;
    // top:0;
    // left:65%;
    // width:auto;
    height:100vh;
    border-left:0.5px solid rgb(84, 84, 84);
    #search{
        padding-top: 1%;
        padding-left: 5%;
		position:relative;
        #searchsvg{
            z-index: 2;
            fill:rgb(62, 67, 78);
            width:22px;
            height:auto;
            position:absolute;
            // top:2.3%;
			// margin-left:5px ;
            // right:3px;
			left:8%;
			top:33%;
        }
        #searchinput{
            z-index: 1;
            background-color:rgb(22, 24, 28) ;
            box-shadow: none;
            padding:15px;
            border:none;
            padding-right: 25%;
            padding-left: 10%;
            border-radius: 25px;
            color:white;
            font-size: 15px;

            &:focus{
                border:1px solid rgb(29,155,240);
                outline :none;
                background-color: black;
            }
            &:focus ~ #searchsvg {
                fill: rgb(29, 155, 240); /* Change color when in focus */
            }
        }

    }

	#subs{
		transform: translate(7%,11%);
		width:fit-content;
		max-width: 74%;
		padding-right:5px ;
		height:fit-content;
		padding-bottom: 16px;
		background-color:rgb(22, 24, 28) ;
		color:rgb(255, 255, 255);
		font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;		
		display: flex;
		flex-direction: column;
		gap:5px;
		border-radius: 24px;
		#subs1{
			font-weight: 700;
			font-size: 20px;
			padding-top: 5px;
			transform:translate(5%,10%);
		}
		#subs2{
            font-size: 14px;
			text-wrap: wrap;
            transform:translate(5%,10%);
        }
		#subs3{
			color: rgb(255, 255, 255);
			background-color:rgb(29,155,240);
		    padding: 5px;
			padding-bottom: 7px;
			padding-inline: 20px;
			transform:translate(15%,23%);
			width:fit-content;
			font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;		
			font-weight: 500;
			font-size:18px;
			border-radius: 30px;
			transition:0.4s ;
	
			&:hover{
				background-color:rgba(29, 156, 240, 0.907);
				cursor:pointer;
			}
		}

	}
    
}
.container{
    display: flex;
}