#sidebar {
  background: rgb(0, 0, 0);
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 5px;
  border: 0px;
  border-right: 0.5px solid rgb(84, 84, 84);
  margin: 0.1px solid white;
  width: 25%;
  min-width: 25%;
  padding-top: 5px;
  overflow: hidden;
}
#sidebar #tabs {
  fill: white;
  color: white;
  display: flex;
  gap: 20px;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-right: 16px;
  padding-left: 11px;
  transform: translateX(7vw);
  transition: 0.191s ease;
}
#sidebar #tabs #svgs {
  width: 26px;
  height: auto;
}
#sidebar #tabs:hover {
  background-color: rgba(128, 128, 128, 0.309);
  cursor: pointer;
  border-radius: 24px;
}
#sidebar #postb {
  color: rgb(255, 255, 255);
  background-color: rgb(29, 155, 240);
  transform: translateX(7vw);
  display: flex;
  justify-content: center;
  width: 50%;
  padding-inline: 30px;
  padding: 15px;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 24px;
  transition: 0.4s;
}
#sidebar #postb:hover {
  background-color: rgba(29, 156, 240, 0.833);
  cursor: pointer;
}

#nav {
  position: absolute;
  top: 0%;
  transform: translateX(25.1vw);
  color: rgb(255, 255, 255);
  font-size: large;
  background-color: rgb(0, 0, 0);
  display: flex;
  width: 45%;
  align-items: center;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-wrap: nowrap;
  font-weight: 600;
}
#nav #navelements {
  padding: 16px;
  padding-inline: 20%;
  border-bottom: 0.5px solid rgb(84, 84, 84);
  cursor: pointer;
  transition: 0.29s;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.073);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
}
#nav #navelements:hover {
  background-color: rgba(255, 255, 255, 0.073);
}

#postt {
  z-index: 2;
  background-color: rgb(0, 0, 0);
  width: 44vw;
  height: -moz-fit-content;
  height: fit-content;
  transform: translate(25.1vw, 54px);
  white-space: normal;
  overflow-wrap: break-word;
}
#postt #title {
  color: white;
  gap: 10px;
  display: flex;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
}
#postt #title #username {
  color: grey;
}

#mypost {
  z-index: 2;
  background-color: rgb(0, 0, 0);
  color: white;
  width: 44vw;
  height: 115%;
  transform: translate(25.1vw, 54px);
  white-space: normal;
  overflow-wrap: break-word;
  border-bottom: 0.5px solid rgb(84, 84, 84);
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
#mypost #tweetinputt {
  padding-left: 50px;
}
#mypost #tweetinput {
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 20px;
  width: 36vw;
  min-height: 70px;
  padding-top: 10px;
  padding-left: 27px;
  white-space: normal;
  color: white;
  background-color: rgb(0, 0, 0);
  border: none;
  overflow-wrap: break-word;
  overflow: hidden;
  resize: none;
}
#mypost #tweetinput:focus {
  outline: none;
}
#mypost #line {
  width: 36vw;
  height: 1px;
  background-color: rgb(84, 84, 84);
  transform: translate(65px, 10px);
  overflow: hidden;
}
#mypost #access {
  display: flex;
  gap: 10px;
  height: 36px;
  width: 39vw;
  transform: translate(60px, 14px);
  background-color: rgb(0, 0, 0);
}
#mypost #access svg {
  width: 20px;
  padding-inline: 0.5px;
  padding: 6px;
  height: auto;
  fill: rgb(29, 155, 240);
  transition: 0.29s ease;
}
#mypost #access svg:hover {
  background-color: rgba(29, 156, 240, 0.366);
  border-radius: 50%;
  cursor: pointer;
}
#mypost #access #postb {
  color: rgba(255, 255, 255, 0.46);
  background-color: rgba(29, 156, 240, 0.508);
  transform: translateX(17vw);
  display: flex;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  padding-inline: 30px;
  align-items: center;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 24px;
  transition: 0.4s;
}
#mypost #access #postb:hover {
  background-color: rgb(29, 156, 240);
  cursor: pointer;
  color: white;
}

#rightside {
  background-color: rgb(0, 0, 0);
  position: absolute;
  right: 1%;
  color: white;
  width: 30%;
  height: 100vh;
  border-left: 0.5px solid rgb(84, 84, 84);
}
#rightside #search {
  padding-top: 1%;
  padding-left: 5%;
}
#rightside #search #searchsvg {
  z-index: 2;
  fill: rgb(62, 67, 78);
  width: 22px;
  height: auto;
  position: absolute;
  top: 2.3%;
  left: 7%;
}
#rightside #search #searchinput {
  z-index: 1;
  background-color: rgb(22, 24, 28);
  box-shadow: none;
  padding: 15px;
  border: none;
  padding-right: 25%;
  padding-left: 10%;
  border-radius: 25px;
  color: white;
  font-size: 15px;
}
#rightside #search #searchinput:focus {
  border: 1px solid rgb(29, 155, 240);
  outline: none;
  background-color: black;
}
#rightside #search #searchinput:focus ~ #searchsvg {
  fill: rgb(29, 155, 240); /* Change color when in focus */
}
#rightside #subs {
  transform: translate(7%, 11%);
  width: -moz-fit-content;
  width: fit-content;
  max-width: 74%;
  padding-right: 5px;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 16px;
  background-color: rgb(22, 24, 28);
  color: rgb(255, 255, 255);
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 24px;
}
#rightside #subs #subs1 {
  font-weight: 700;
  font-size: 20px;
  padding-top: 5px;
  transform: translate(5%, 10%);
}
#rightside #subs #subs2 {
  font-size: 14px;
  text-wrap: wrap;
  transform: translate(5%, 10%);
}
#rightside #subs #subs3 {
  color: rgb(255, 255, 255);
  background-color: rgb(29, 155, 240);
  padding: 5px;
  padding-bottom: 7px;
  padding-inline: 20px;
  transform: translate(15%, 23%);
  width: -moz-fit-content;
  width: fit-content;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 30px;
  transition: 0.4s;
}
#rightside #subs #subs3:hover {
  background-color: rgba(29, 156, 240, 0.907);
  cursor: pointer;
}

.container {
  display: flex;
}/*# sourceMappingURL=App.css.map */